{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation</h1>

    {# Afficher les erreurs du formulaire s'il y en a #}
    

    {# Afficher le formulaire de réservation #}
    <form method="post" novalidate>
        {{ form_start(form) }}
        
        {# Ajouter tous les champs du formulaire avec leurs erreurs correspondantes #}
        <div class="form-group">
            {{ form_row(form.startDate) }}
            {% for error in form.startDate.vars.errors %}
                <div class="invalid-feedback">{{ error.message }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_row(form.endDate) }}
            {% for error in form.endDate.vars.errors %}
                <div class="invalid-feedback">{{ error.message }}</div>
            {% endfor %}
        </div>
        
        
        

        {# Afficher le bouton de soumission du formulaire #}
        <button type="submit" class="btn btn-success">Mettre à jour la réservation</button>
        
        {{ form_end(form) }}
    </form>

    <a href="{{ path('app_reservation_index') }}" class="btn btn-secondary mt-3">Retour à la liste des réservations</a>
{% endblock %}
